@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto+Condensed:wght@300&display=swap');

/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Algemene styling */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 50px;
    font-family: 'Gochi Hand', cursive;
    margin-top: 40px;
}

/* Styling per onderdeel */

.world-map-image {
    width: 1000px;
}

.flag {
    width: 20px;
    margin-right: 10px;
    display: inline-block;
}

.population {
    margin-top: 12px;
    font-size: 10px;
}

#country-list {
    max-width: 1000px;
    border: 1px solid dimgrey;
    background-color: ghostwhite;
    padding: 30px;
    border-radius: 4px;
    list-style-type: none;
    column-count: 3;
    overflow: auto;
    margin-bottom: 40px;
}

.blue {
    color: royalblue;
}

.green {
    color: green;
}

.red {
    color: maroon;
}

.yellow {
    color: gold;
}

.purple {
    color: blueviolet;
}

